:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    background-color: #f5f5f5;
}

app-filter-bar {
    grid-row: 2;
    grid-column: 2;
    border-radius: 10px;
}