<div class="filters">
    <mat-form-field class="filter">
        <mat-label>Project</mat-label>
        <mat-select [formControl]="projectFilter" multiple>
            <mat-select-trigger>
                {{projectFilter.value?.[0] || ''}}
                @if ((projectFilter.value?.length || 0) > 1) {
                <span class="filter-project">
                    (+{{(projectFilter.value?.length || 0) - 1}} {{projectFilter.value?.length === 2 ? 'other' :
                    'others'}})
                </span>
                }
            </mat-select-trigger>
            @for (project of projects(); track project) {
            <mat-option [value]="project">{{project}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filter">
        <mat-label>Person</mat-label>
        <mat-select [formControl]="assigneeFilter" multiple>
            <mat-select-trigger>
                {{assigneeFilter.value?.[0] || ''}}
                @if ((assigneeFilter.value?.length || 0) > 1) {
                <span class="filter-person">
                    (+{{(assigneeFilter.value?.length || 0) - 1}} {{assigneeFilter.value?.length === 2 ? 'other' :
                    'others'}})
                </span>
                }
            </mat-select-trigger>
            @for (assignee of assignees(); track assignee) {
            <mat-option [value]="assignee">{{assignee}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filter">
        <mat-label>Estimation</mat-label>
        <mat-select [formControl]="estimationFilter" multiple>
            <mat-select-trigger>
                {{estimationFilter.value?.[0] || ''}}
                @if ((estimationFilter.value?.length || 0) > 1) {
                <span class="filter-state">
                    (+{{(estimationFilter.value?.length || 0) - 1}} {{estimationFilter.value?.length === 2 ? 'other' :
                    'others'}})
                </span>
                }
            </mat-select-trigger>
            @for (storyPoint of estimations(); track storyPoint) {
            <mat-option [value]="storyPoint">{{storyPoint}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div>
        <button matButton="outlined" (click)="onApply()">Apply</button>
    </div>

</div>