.header-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #cddbfd;;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
}

/* Responsive: stack on small screens */
@media (max-width: 48rem) {
  .header-bar {
    flex-direction: column;
    align-items: stretch;
  }
}