:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}

app-crud-bar {
    grid-column: 1;
    grid-row: 2;
}

app-filter-bar {
    grid-row: 2;
    grid-column: 2;
    border-radius: 10px;
}