:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "to-do in-progress done";
    gap: 1.6rem;
    padding: 1rem;
}

.to-do {
    grid-area: to-do;
}

.in-progress {
    grid-area: in-progress;
}

.done {
    grid-area: done;
}

.container {
    background-color: #878585;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.container-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #545252;
    height: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex-shrink: 0;
}

.container-tasks {
    overflow-y: auto;
    height: 73vh;
    border-radius: 1rem;
}