.page-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "content";
}

app-header {
    grid-area: header;
}

app-body {
    grid-area: content;
}