html, 

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-grid {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    grid-template-areas:
        "header"
        "content";
}

app-header {
    grid-area: header;
}

app-body {
    grid-area: content;
}